html {
  background-color: rgba(27, 38, 54, 1);
  text-align: center;
  color: white;
}

body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
